div.roundedBorder{
	padding: 1em;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
}

.contactname{
	width: 12em;
}

#openHallSlide{
	display:none;
}

#closeHallSlide {
	margin-left: 0.5em;
}

.disabledLinkForNew{
	color: grey;
}

.seating {
	overflow: hidden;
}

.seatingCap{
	width: 3em;
}

.review{
	padding-left: 1em;
	/*background-color: rgb(217,231,231);*/
        border: 2px solid rgb(217,231,231);
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	width: 70%;
	margin-bottom: 7px;
}

.review .updatedAt {
    text-align: right;
    font-style: italic;
    color: grey;
}

.review .ratingHint {
    font-size: 11px;
}

.margin10{
	margin: 10px;
}

.center-text{
	text-align: center;
}